[client]
port		= 3306
socket		= /tmp/mysql.sock
user=exporter
password=monitor_exporter
[mysqld_safe]
socket		= /tmp/mysql.sock

[mysqld]
symbolic-links = 0
user		= mysql
pid-file	= /www/mysql_datas/mysqld.pid
socket		= /tmp/mysql.sock
port		= 3306
datadir		= /www/mysql_datas
log_error = /www/mysql_datas/error.log
slow-query-log-file = /www/mysql_datas/mysql-slow.log
long_query_time = 1
character-set-server=utf8
collation-server=utf8_unicode_ci
init-connect='SET NAMES utf8'

###### master and slave replication ########
server-id = 1
log_bin = mysql-bin
expire_logs_days	= 10
max_binlog_size		= 200M
log_bin=mysql-bin
binlog_do_db=im_backend
binlog_ignore_db=test
binlog_ignore_db=information_schema
binlog_ignore_db=mysql
